@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Monoton&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
  --primary: #3f4db4;
  --secondary: #893fb4;
  --bg-color: #02010a;
  --text: #bbbcc0;
  --button-text: #000000;
  --song-hover: rgba(130, 130, 130, 0.194);
  --song-active: rgba(173, 173, 173, 0.194);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--text);
}
@keyframes pop {
  0% {
    background-position: right -150% bottom 0;
  }
  100% {
    background-position: right 0% bottom 0;
  }
}

body {
  min-height: 100vh;
}

.pop {
  animation: pop 400ms forwards;
}
#background {
  background-image: url(https://media.giphy.com/media/B8dUiWJmQi4KCQhS9x/giphy.gif);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-position: right 0% bottom 0;
  background-size: contain;
  transition: all 400ms;
}

.background {
  background-color: var(--bg-color);
  height: 100vh;
  position: relative;
  & #header {
    /* background-color: var(--bg-color); */
    background: linear-gradient(
      180deg,
      var(--bg-color) 0%,
      rgba(63, 180, 180, 0) 100%
    );
    display: flex;
    width: 100%;
    padding: 1rem 4rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1000;

    & .logo {
      display: inline-block;
      font-size: 2rem;
      font-weight: 900;
      cursor: pointer;
      color: var(--text);
      user-select: none;
      transition: all 200ms;
    }
    & .logo:hover {
      background: linear-gradient(
        157deg,
        var(--secondary) 0%,
        var(--primary) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & nav {
      display: flex;

      & a {
        text-decoration: none;
        margin-right: 2.5rem;
        position: relative;
        color: var(--text);
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: uppercase;
        transition: all 400ms ease-in;
        user-select: none;
      }
      & a:hover {
        color: var(--primary);
      }
      & a::before {
        position: absolute;
        top: 100%;
        left: 0;
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--primary);
        transition: all 250ms;
      }
      & a:hover::before {
        width: 100%;
      }
    }
  }
  & #home {
    position: absolute;
    padding: 1rem 4rem;
    width: 55%;
    top: 50%;
    transform: translateY(-50%);
    & .home-title {
      margin: 1.5rem 0;
      & h1 {
        font-family: "Monoton", cursive;
        display: inline-block;
        background: var(--secondary);
        background: linear-gradient(
          157deg,
          var(--secondary) 0%,
          var(--primary) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        font-size: 6rem;
        transition: background 400ms;
      }
      & h2 {
        font-weight: 900;
        font-size: 4rem;
      }
    }
    & .home-detail {
      margin-bottom: 1.5rem;
      & p {
        font-size: 1.1rem;
      }
      & button {
        color: var(--button-text);
        width: 200px;
        height: 2.5em;
        border: none;
        background: var(--primary);
        font-weight: 600;
        font-size: 1.05rem;
        cursor: pointer;
        border-radius: 0.5rem;
      }
      & button:active {
        background: #2b448e;
      }
    }
  }
  & form {
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    z-index: 1000;

    transform: translate(-50%, -50%) scale(0.2);
    width: 400px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background: rgba(78, 78, 78, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border: 1px solid rgba(78, 78, 78, 0.21);

    transition: top 500ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
      transform 500ms ease-in-out 0ms;

    & i {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: var(--text);
      font-size: 20px;
      transition: all 250ms;
    }
    & i:hover {
      color: var(--primary);
    }
    & h2 {
      text-align: center;
      margin: 10px 0 20px;
      font-size: 2rem;
      color: #bbbcc0;
    }
    & .form-element {
      margin: 1rem 0;
      & input[type="email"],
      input[type="password"] {
        margin-top: 15px;
        display: block;
        outline: none;
        padding: 6px 20px;
        width: 100%;
        height: 2.5rem;
        border-radius: 7px;
        background: rgba(102, 102, 102, 0.27);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15.5px);
        border: 1px solid rgba(102, 102, 102, 0.22);
      }
      & input[type="checkbox"] {
        margin-right: 10px;
      }
      & label[for="checkbox"] {
        font-size: 0.9rem;
      }
      & button {
        color: var(--button-text);
        width: 100%;
        height: 2.5em;
        border: none;
        background: var(--primary);
        font-weight: 500;
        font-size: 1.05rem;
        cursor: pointer;
        border-radius: 0.5rem;
      }
      & button:active {
        background: #37a0a0;
      }
      & a {
        display: block;
        text-decoration: none;
        color: var(--primary);
        text-align: right;
        font-weight: bold;
      }
    }
  }
  & form.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  & .choose-artist {
    border-radius: 2rem;
    background-color: rgba(41, 45, 44, 0.4);
    backdrop-filter: blur(10px);
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    padding: 4rem;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(0.2);
    min-width: 400px;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;

    transition: top 500ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
      transform 500ms ease-in-out 0ms;

    & i {
      position: absolute;
      font-size: 2rem;
      right: 20px;
      top: 20px;
      color: #6c6d6f;
      cursor: pointer;
      &:hover {
        color: var(--primary);
      }
    }
    & .artist-container {
      border-radius: 1em;
      padding: 2rem;
      text-align: center;
      height: 510px;

      & h2 {
        font-size: 18px;
        margin: 1.3rem 0;
      }
      & p {
        font-size: 14px;
        color: #bbbcc0;
      }
      & .artist-profile {
        overflow: hidden;
        box-shadow: 0px -2px 46px -13px rgba(0, 0, 0, 0.74);
        border-radius: 1rem;
        width: 250px;
        height: 340px;
        cursor: pointer;
      }
      & img {
        height: 100%;
        width: 100%;
        transition: scale 400ms;
        &:hover {
          scale: 110%;
        }
      }
    }
    & .artist-container:nth-child(2) {
      background-image: url(images/mars2-blur.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);
    }
    & .artist-container:nth-child(3) {
      background-image: url(images/joji2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);
    }
    & .artist-container:nth-child(4) {
      background-image: url(images/weeknd2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);
    }
    & .artist-container:nth-child(5) {
      background-image: url(images/zwing2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);
    }
    &.active {
      top: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
#background::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(63, 180, 180, 0) 100%
  );
  height: 50%;
}
#song-container {
  --emptyAlbum: #262d45;
  --bg-color: black;
  --album-width: 190px;
  --empty-album-bg: #4d4d4d81;
  background-image: url(bg/default.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  &::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(63, 180, 180, 0) 100%
    );
    height: 10%;
  }
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgb(17, 13, 29) 0%,
      rgba(63, 180, 180, 0) 100%
    );
    height: 60%;
  }

  & #album {
    /* border: solid white 2px; */
    height: 80vh;
    width: 1079px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 2rem;
    & #album-detail {
      /* border: solid green 2px; */
      width: 97.5%;
      height: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & #intro {
        display: flex;
        flex-direction: column;
        & h1 {
          font-family: "Amita", cursive;
          color: #f3f3f3;
          font-size: 3.5rem;
        }
        & p {
          margin-top: 1.8rem;
          width: 70%;
        }
      }
    }
    & h2 {
      font-weight: 400;
    }
    & #top-album {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: start;
      /* border: solid green 2px; */
      width: 97.5%;
      height: 40%;

      & li {
        /* border: purple solid 2px; */
        width: 190px;
        list-style-type: none;
        user-select: none;
        & .albumImageContainer {
          height: var(--album-width);
          width: var(--album-width);
          /* border: solid blue 2px; */
          border-radius: 1rem;
          overflow: hidden;
          cursor: pointer;
          display: flex;
          position: relative;
          & img {
            width: var(--album-width);
            transition: transform 400ms;
          }
          &:hover img {
            transform: scale(110%);
          }
          & .empty {
            background-color: var(--empty-album-bg);
            width: var(--album-width);
            height: var(--album-width);
            display: grid;
            place-items: center;
            & i {
              font-size: 4rem;
            }
          }
        }
        & h3 {
          margin-top: 1rem;
        }
        & p {
          margin-top: 6px;
          font-size: 13px;
        }
      }
    }
  }
  & #playlist {
    height: 80vh;
    width: 605px;
    z-index: 1;
    padding: 3rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid white 2px; */
    & h1 {
      font-weight: 500;
    }
    & #song-list {
      width: 97.5%;
      /* border: solid green 2px; */
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      & li {
        /* border: solid red 2px; */
        border-radius: 1rem;
        display: flex;
        width: 100%;
        list-style-type: none;
        justify-content: start;
        align-items: center;
        padding: 1rem 2rem;
        cursor: pointer;
        & .songs {
          display: flex;
          align-items: center;
          & .emptySong {
            overflow: hidden;
            min-width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: var(--empty-album-bg);
            display: grid;
            place-items: center;
            margin: 0 20px 0 20px;
            & i {
              font-size: 2rem;
            }
          }
          & img {
            width: 70px;
          }
        }
        &:hover {
          background-color: var(--song-hover);
        }
      }
    }
    & #player {
      width: 97.5%;
      background-color: #8f8f8f29;
      backdrop-filter: blur(10px);
      /* border: solid green 2px; */
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 1.5rem;
      border-radius: 1rem;

      & #song-cover {
        width: 160px;
        height: 160px;
        overflow: hidden;
        border-radius: 1rem;
        align-self: center;
        box-shadow: -3px 2px 58px -19px rgba(0, 0, 0, 0.75);
        & .emptyPlayer {
          display: grid;
          place-items: center;
          width: 160px;
          height: 160px;
          background-color: var(--empty-album-bg);
          & i {
            font-size: 4rem;
          }
        }
        & img {
          width: 160px;
          height: 160px;
        }
      }
      & #control {
        padding: 1rem;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        & div {
          & h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          & p {
            font-size: 14px;
          }
        }

        & #progress {
          -webkit-appearance: none;
          background-color: var(--secondary);
          border-radius: 1rem;

          height: 10px;
          cursor: pointer;
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: var(--primary);
            width: 20px;
            height: 20px;
            /* border: solid white 5px; */
            border-radius: 50%;
          }
        }
        & #control-button {
          display: flex;
          justify-content: space-around;
          width: 100%;
          & #ctrlMusic {
            font-size: 2rem;
          }
          & i {
            font-size: 1.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
#about-me {
  height: 250px;
  background-color: rgb(17, 13, 29);
  position: relative;
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & table {
    font-size: 14px;
    border-spacing: 10px;
    width: 30%;
    & tr {
      & th {
        text-align: left;
      }
      & td {
        & a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            color: white;
          }
        }
      }
    }
  }
  & .logo {
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    color: var(--text);
    user-select: none;
    transition: all 200ms;
  }
  & .logo:hover {
    background: linear-gradient(
      157deg,
      var(--secondary) 0%,
      var(--primary) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
