@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #fcfcfc;
}

#background {
  background-image: url(https://media.giphy.com/media/B8dUiWJmQi4KCQhS9x/giphy.gif);
  background-repeat: no-repeat;
  background-position: right 0% bottom 0;
  background-size: contain;
  transition: all 400ms;
}
.background {
  background-color: #000000;
  height: 100vh;
  position: relative;

  & #header {
    background-color: #000000;
    display: flex;
    width: 100%;
    padding: 1rem 4rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1000;

    & .logo {
      display: inline-block;
      font-size: 2rem;
      font-weight: 900;
      cursor: pointer;
      color: #6c6d6f;
      user-select: none;
      transition: all 200ms;
    }
    & .logo:hover {
      color: #fcfcfc;
      background: linear-gradient(
        157deg,
        rgba(63, 180, 96, 1) 0%,
        rgba(63, 180, 180, 1) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & nav {
      display: flex;

      & a {
        text-decoration: none;
        margin-right: 2.5rem;
        position: relative;
        color: #6c6d6f;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: uppercase;
        transition: all 250ms;
        user-select: none;
      }
      & a:hover {
        color: #3fb4b4;
      }
      & a::before {
        position: absolute;
        top: 100%;
        left: 0;
        content: "";
        width: 0;
        height: 2px;
        background-color: #3fb4b4;
        transition: all 250ms;
      }
      & a:hover::before {
        width: 100%;
      }
    }
  }
  & #home {
    position: absolute;
    padding: 1rem 4rem;
    width: 70rem;
    top: 50%;
    transform: translateY(-50%);
    & .home-title {
      margin: 1.5rem 0;
      & h1 {
        display: inline-block;
        background: rgb(63, 180, 96);
        background: linear-gradient(
          157deg,
          rgba(63, 180, 96, 1) 0%,
          rgba(63, 180, 180, 1) 100%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        font-size: 6rem;
      }
      & h2 {
        font-weight: 900;
        font-size: 4rem;
      }
    }
    & .home-detail {
      margin-bottom: 1.5rem;
      & p {
        font-size: 1.1rem;
      }
      & button {
        color: #1a0202;
        width: 200px;
        height: 2.5em;
        border: none;
        background: #3fb4b4;
        font-weight: 600;
        font-size: 1.05rem;
        cursor: pointer;
        border-radius: 0.5rem;
      }
      & button:active {
        background: #37a0a0;
      }
    }
  }
  & form {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;

    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background: rgba(78, 78, 78, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border: 1px solid rgba(78, 78, 78, 0.21);

    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
      transform 20ms ease-in-out 0ms;

    & i {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #6c6d6f;
      font-size: 20px;
      transition: all 250ms;
    }
    & i:hover {
      color: #3fb4b4;
    }
    & h2 {
      text-align: center;
      margin: 10px 0 20px;
      font-size: 2rem;
      color: #bbbcc0;
    }
    & .form-element {
      margin: 1rem 0;
      & input[type="email"],
      input[type="password"] {
        margin-top: 15px;
        display: block;
        outline: none;
        padding: 6px 20px;
        width: 100%;
        height: 2.5rem;
        border-radius: 7px;
        background: rgba(102, 102, 102, 0.27);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15.5px);
        border: 1px solid rgba(102, 102, 102, 0.22);
      }
      & input[type="checkbox"] {
        margin-right: 10px;
      }
      & label[for="checkbox"] {
        font-size: 0.9rem;
      }
      & button {
        width: 100%;
        height: 2.5em;
        border: none;
        background: #3fb4b4;
        font-weight: 500;
        font-size: 1.05rem;
        cursor: pointer;
        border-radius: 0.5rem;
      }
      & button:active {
        background: #37a0a0;
      }
      & a {
        display: block;
        text-decoration: none;
        color: #3fb4b4;
        text-align: right;
        font-weight: bold;
      }
    }
  }
  & form.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  & .choose-artist {
    border-radius: 2rem;
    background-color: rgba(41, 45, 44, 0.4);
    backdrop-filter: blur(10px);
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    padding: 4rem;

    transform: translate(-50%, -50%);
    min-width: 400px;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;

    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms;

    & i {
      position: absolute;
      font-size: 2rem;
      right: 20px;
      top: 20px;
      color: #6c6d6f;
      cursor: pointer;
      &:hover {
        color: #3fb4b4;
      }
    }
    & .artist-container {
      border-radius: 1em;
      padding: 2rem;
      text-align: center;
      height: 510px;

      & h2 {
        font-size: 18px;
        margin: 1.3rem 0;
      }
      & p {
        font-size: 14px;
        color: #bbbcc0;
      }
      & .artist-profile {
        overflow: hidden;
        box-shadow: 0px -2px 46px -13px rgba(0, 0, 0, 0.74);
        border-radius: 1rem;
        width: 250px;
        height: 340px;
        cursor: pointer;
      }
      & img {
        height: 100%;
        width: 100%;
        transition: scale 400ms;
        &:hover {
          scale: 110%;
        }
      }
    }
    & .artist-container:nth-child(2) {
      background-image: url(images/mars2-blur.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);
    }
    & .artist-container:nth-child(3) {
      background-image: url(images/joji2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);
    }
    & .artist-container:nth-child(4) {
      background-image: url(images/weeknd2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);
    }
    &.active {
      top: 50%;
      opacity: 1;
    }
  }
}
.background::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(63, 180, 180, 0) 100%
  );
  height: 50%;
}
